body {
  color: white;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  font-family: inherit;
}

h1 {
  margin-top: var(--navbar-height);
}

.container-video {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  cursor: pointer;
}

.footer {
  align-self: flex-end;
  min-width: 100vw;
  min-height: 9rem;
  text-align: center;
  background-color: var(--element-color);
  color: var(--paper-color);
  font-size: 1.3rem;
}

.container-footer a {
  color: orangered;
  text-decoration: none;
}

.i-color-l {
  color: red;
}


.i-color {
  color: var(--yellow-color);
}