/*

<-- Responsive! -->
 
<-- Mobile phones horizontally or tablets vertically -->

 
<-- Horizontal tablets and normal desks -->
@media (min-width: 1024px) { }
 
<-- Wide desks -->
*/
@media all and (min-width: 768px) {

  .hidden-menu-input,
  .hidden-menu-label {
    display: none;
  }
}

@media screen and (max-width: 1319px) {
  .container-gridfilms {
    grid-template-columns: repeat(auto-fill, 250px);
    gap: .3rem;
  }
}

@media (min-width: 1120px) {
  .login-form-container {
    height: 50%;
    width: 30%;
  }
}

@media (min-width: 768px) {
  .login-form>fieldset {
    margin: 0 20px;
  }

  .login-form-container {
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .login-form-container {
    width: 45%;
  }
}