/* Mobile First */

.header {
  grid-area: header;
  border: rgb(48, 163, 148) 1px solid;
}

.section-video .section-title,
.section-watchNext .section-title {
  font-size: 2rem;
  text-transform: capitalize;
  margin-left: 4rem;
  color: var(--yellow-color);
  /* width: calc(calc(250px*5) + calc(4*.5rem)); */
  margin: 4rem 4rem auto 2.3rem;
}

.hr-line {
  /* width: calc(calc(calc(250px*5) + calc(4*.5rem)+25px)); */
  border: crimson solid 2px;
  margin-bottom: 2rem;
}

.section-video {
  grid-area: section-video;
  border: rgb(51, 216, 17) 1px solid;
}

.section-description {
  display: grid;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  grid-area: section-description;
  border: rgb(245, 56, 220) 1px solid;
}

.aside-similar {
  display: grid;
  justify-content: center;
  grid-area: aside-similar;
  gap: 1rem;
  border: rgb(103, 188, 214) 1px solid;
}

.aside-similar .aside-img {
  border-radius: 20px;
}

.aside-similar .aside-title {
  color: var(--yellow-color);
}

.footer {
  grid-area: footer;
  border: rgb(235, 231, 17) 1px solid;
}

.video {
  object-fit: contain;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.article-img {
  width: 5rem;
  margin-right: .5rem;
  margin-bottom: 2rem;
}

.aside-img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.wrapper {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header"
    "section-video"
    "section-description"
    "aside-similar"
    "footer"
  ;
}

/* Landscape */
@media (min-width: 500px) {
  .wrapper {}
}

/* screen width */
@media (min-width: 768px) {
  .wrapper {}
}