p,
li,
a,
button {
  color: var(--paper-color);
  text-decoration: none;
  font-size: 1.2rem;
}

h1 {
  font-size: 3em;
  color: var(--paper-color);
  text-transform: capitalize;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}

.navbar {
  position: static;
  top: 0;
  height: var(--navbar-height);
  z-index: 100;
}

.logo-img {
  cursor: pointer;
  width: 2rem;
  margin-right: auto;
}

.logo {
  flex-grow: 1;
}

.links {
  list-style: none
}

.links li {
  display: inline-block;
  padding: 0 1.25rem;
  text-transform: uppercase;
}

/* .links ul li a {
  display: block;
} */

.links li a {
  transition: all 0.3 ease 0s;
}

.links li a:hover {
  background-color: var(--yellow-color);
}

button {
  cursor: pointer;
  background-color: var(--yellow-color);
  letter-spacing: 1.5px;
  margin-left: 1rem;
  margin-top: 8px;
  padding: 0.3rem 1.3rem;
  border: none;
  border-radius: 50px;
  transition: all 0.3 ease 0s;
  color: black;
}

.search-input {
  padding: 0.3rem 1.3rem;
  color: var(--font-color);
  border: none;
  border-radius: 20px;
  height: 1.7rem;
}

.search-input:focus {
  outline: 0 none;
}

button:hover {
  background-color: rgba(237, 175, 36, .7)
}

.container {
  width: 85%;
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
}