@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

:root {
  /* --max-width: 900px; */
  --navbar-height: 3rem;
  --dark-color: #202125;
  --font-color: #565656;
  --yellow-color: #ffa600;
  --border-color: #e7e7e7;
  --paper-color: #f5f5f5;
  --element-color: #092532;
}

html,
body {
  background: var(--dark-color);
  font-family: 'Rubik', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.35rem;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb {
  background: var(--element-color);
}