@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf")
}

@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf")
}

@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf")
}

@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf")
}

@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf")
}

@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf")
}

@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf")
}

@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf")
}

@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Text-Bold.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 700;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-BoldItalic.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Text-Heavy.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Text-Light.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 200;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 500;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-MediumItalic.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 400;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-RegularItalic.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 600;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-SemiboldItalic.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Text-Ultrathin.otf")
}

@font-face {
  font-family: "SF Text";
  font-weight: 100;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-UltrathinItalic.otf")
}

@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  src: url("https://sf.abarba.me/SFMono-Bold.otf")
}

@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-BoldItalic.otf")
}

@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  src: url("https://sf.abarba.me/SFMono-Heavy.otf")
}

@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf")
}

@font-face {
  font-family: "SF Mono";
  font-weight: 200;
  src: url("https://sf.abarba.me/SFMono-Light.otf")
}

@font-face {
  font-family: "SF Mono";
  font-weight: 200;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf")
}

@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  src: url("https://sf.abarba.me/SFMono-Medium.otf")
}

@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-MediumItalic.otf")
}

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url("https://sf.abarba.me/SFMono-Regular.otf")
}

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-RegularItalic.otf")
}

@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  src: url("https://sf.abarba.me/SFMono-Semibold.otf")
}

@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-SemiboldItalic.otf")
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
small,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 2px solid #f0f1f2
}

input,
select {
  vertical-align: middle
}

body {
  font: 400 16px/27px "SF Text", -apple-system, BlinkMacSystemFont, monospace, "Helvetica", Arial, sans-serif;
  *font-size: small;
  color: #0F1011
}

select,
input,
textarea,
button {
  font: 99% sans-serif
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif
}

a,
a:hover,
a:active {
  outline: none
}

sub,
sup {
  font-size: 50%;
  line-height: 0;
  position: relative
}

sup {
  top: -0.9em
}

a:link {
  -webkit-tap-highlight-color: transparent
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}

a {
  text-decoration: none
}

strong,
b {
  font-family: "SF Text", -apple-system, BlinkMacSystemFont, monospace, "Helvetica", Arial, sans-serif
}

html,
body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004)
}

::placeholder {
  color: #9DA2A4;
  font-family: "SF Text", -apple-system, BlinkMacSystemFont, monospace, "Helvetica", Arial, sans-serif
}

body {
  margin: 0;
  background: #fff
}

body.dark {
  color: #90999B;
  background: #0F1011
}

body {
  background: #1A1A26;
  color: #fff
}

a {
  color: #EC3063
}

.container {
  position: relative;
  max-width: 1140px;
  padding: 0 24px;
  margin: 0 auto
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.dropdown {
  text-align: right;
  position: relative;
  flex: 1;
  padding-left: 30px;
  display: inline-block
}

.dropdown .current {
  color: #90999B
}

.dropdown .current i {
  margin-left: 4px
}

.dropdown ul {
  display: none;
  border: 0 solid #fff;
  position: absolute;
  right: 0;
  top: 25px;
  border-radius: 5px;
  background: #F9F9F9;
  z-index: 300
}

.dropdown ul.show {
  display: inline-block
}

.dropdown ul li:first-child a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px
}

.dropdown ul li:last-child a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px
}

.dropdown ul a {
  color: #EC3063;
  display: block;
  padding: 5px 10px
}

.dropdown ul a:hover {
  background: #ececec
}

header {
  position: relative;
  margin: 0 0 30px;
  background: #1A1A26;
  background: linear-gradient(180deg, #000 0%, #1A1A26 100%)
}

header #logo {
  float: left;
  margin: 18px 40px 0 0;
  display: block;
  width: 116px;
  height: 23px;
  padding: 0;
  text-indent: -9999em;
  background: url(/assets/logo-white-58f3645d511c2a2a404d943bf3e1fcae5ced3559472f38ae42f346d6a17cb6e9.svg) no-repeat top left
}

header #logo:hover {
  border-top-color: #fff
}

@media screen and (max-width: 910px) {
  header #logo {
    float: none;
    margin: 0 0 0 0;
    top: 20px;
    position: relative;
    padding: 20px 0
  }
}

header a#mobile-menu {
  display: none;
  position: absolute;
  top: 18px;
  right: 24px;
  width: 24px;
  height: 15px;
  color: #fff;
  font-size: 1.5em
}

@media screen and (max-width: 910px) {
  header a#mobile-menu {
    display: block
  }
}

header nav {
  height: 64px;
  padding: 0;
  text-align: center
}

header nav.show {
  display: block
}

@media screen and (max-width: 910px) {
  header nav {
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    padding: 0;
    height: 56px;
    display: none;
    height: auto;
    background: #1A1A26;
    z-index: 200
  }
}

header nav a {
  display: inline-block;
  padding: 15px 0 0;
  margin: 0 35px 0 0;
  border-top: 4px solid transparent;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.2s linear
}

header nav a:hover,
header nav a.active {
  color: #fff;
  border-top-color: #EC3063
}

@media screen and (max-width: 910px) {

  header nav a:hover,
  header nav a.active {
    float: none;
    color: white;
    background: #EC3063
  }
}

@media screen and (max-width: 1023px) {
  header nav a {
    margin: 0 20px 0 0
  }
}

header nav a#twitter-sign-in {
  float: right;
  margin: 0
}

@media screen and (max-width: 910px) {
  header nav a#twitter-sign-in {
    float: none
  }
}

@media screen and (max-width: 910px) {
  header nav a {
    position: relative;
    clear: left;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 43px;
    text-align: center;
    padding: 8px 0;
    margin: 0
  }
}

header nav .user-link {
  float: right;
  margin: 0
}

@media screen and (max-width: 910px) {
  header nav .user-link {
    float: none
  }
}

header nav .user-link img {
  border-radius: 100px;
  width: 30px;
  display: inline-block;
  margin-right: 5px
}

header nav .user-link span {
  display: inline-block;
  vertical-align: top;
  line-height: 30px
}

header .search-form {
  display: none
}

header .search-form.show {
  padding: 0 0 20px 0;
  display: block
}

header .search-form input[type="text"] {
  display: block;
  width: 98%;
  border: 0 solid #E3E8E8;
  height: 49px;
  padding: 5px 2%;
  line-height: 20px;
  border-radius: 4px;
  font-size: 18px;
  outline: none;
  color: #1A1A26;
  background: #fff
}

h1 {
  font: 800 45px/26px "SF Display", "SF Text", -apple-system, BlinkMacSystemFont, monospace, "Helvetica", Arial, sans-serif
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 30px;
    line-height: 50px
  }
}

h1.tiny {
  font-size: 20px;
  color: #EC3063;
  font-weight: 400
}

h2 {
  font: 800 36px/35px "SF Display", "SF Text", -apple-system, BlinkMacSystemFont, monospace, "Helvetica", Arial, sans-serif;
  margin: 0 0 24px
}

h2 strong {
  font-weight: 1000
}

h3 {
  font: 400 20px/30px "SF Text", -apple-system, BlinkMacSystemFont, monospace, "Helvetica", Arial, sans-serif;
  margin: 0 0 14px
}

.view_all {
  float: right
}

.subnav {
  display: block;
  margin-bottom: 25px
}

.subnav li {
  display: inline-block;
  margin-right: 18px
}

.subnav li a {
  color: #EC3063;
  font-size: 18px;
  transition: all 0.2s linear
}

.subnav li a.active,
.subnav li a:hover {
  color: #EC3063;
  border-bottom: 2px solid #EC3063
}

.breadcrumb ol {
  list-style: none;
  margin: 0 0 25px 0;
  padding: 0
}

.breadcrumb ol li {
  display: inline-block
}

.breadcrumb ol li a {
  color: #EC3063
}

.breadcrumb ol li:after {
  content: "/";
  color: #fff;
  padding: 0 8px 0 12px
}

.breadcrumb ol li.active:after {
  content: "";
  padding: 0
}

.alert {
  padding: 15px 0;
  margin: -30px 0 30px;
  font-size: 1.1em;
  text-align: center;
  color: #fff
}

.alert.success {
  background: #2BC09C
}

.alert.error {
  background: #E83353
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px 30px
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr 1fr
  }
}

@media screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr
  }
}

.artist-header {
  background-size: 100%;
  background-position: 50% 40%;
  background-color: #000;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  color: #fff;
  height: 300px
}

@media screen and (max-width: 700px) {
  .artist-header {
    height: 240px
  }
}

.artist-header .follow {
  bottom: 0;
  position: absolute;
  right: 0
}

.artist-header .info {
  z-index: 100;
  position: absolute;
  bottom: 35px;
  left: 35px;
  right: 35px
}

@media screen and (max-width: 700px) {
  .artist-header .info {
    bottom: 40px
  }
}

.artist-header .info h1 {
  font-size: 5em;
  line-height: 70px
}

@media screen and (max-width: 700px) {
  .artist-header .info h1 {
    font-size: 2.5em;
    line-height: 35px;
    margin-bottom: 0
  }
}

.artist-header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1A1A26;
  border-radius: 5px;
  opacity: 0.8
}

.grid-artist {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px 50px
}

@media screen and (max-width: 900px) {
  .grid-artist {
    grid-template-columns: 1fr 1fr
  }
}

@media screen and (max-width: 800px) {
  .grid-artist {
    grid-template-columns: 1fr
  }
}

.grid-artist .albums .album-grid {
  grid-template-columns: repeat(4, 1fr)
}

@media screen and (max-width: 900px) {
  .grid-artist .albums .album-grid {
    grid-template-columns: repeat(2, 1fr)
  }
}

.grid-artist .videos .album-grid {
  grid-template-columns: repeat(2, 1fr)
}

@media screen and (max-width: 900px) {
  .grid-artist .videos .album-grid {
    grid-template-columns: 1fr
  }
}

.grid-artist.full {
  grid-template-columns: 1fr
}

.grid-artist.full .album-grid {
  grid-template-columns: repeat(6, 1fr)
}

.media h2 {
  margin-bottom: 5px
}

.jumbotron {
  text-align: center;
  padding: 40px 20px;
  color: #fff;
  border-radius: 10px;
  background-image: url(/assets/bgr-jumbo-9f1ff92679e2e79dbddb2249750c542cf03c4487c2fb31a5210f3966cdebe6e7.png);
  background-size: 100%;
  margin-bottom: 15px
}

.jumbotron h1 {
  font-weight: 900;
  font-size: 3em;
  margin: 0 0 15px
}

.jumbotron p {
  font-weight: 200;
  font-size: 1.8em;
  margin-bottom: 30px
}

.jumbotron .fa-twitter {
  color: #15B6FB
}

.header-btn {
  font-size: 14px;
  padding: 0 15px;
  border-radius: 100px;
  background: #15B6FB;
  border: 0;
  color: #fff;
  cursor: pointer
}

.header-btn i {
  margin-right: 5px
}

.header-btn:hover {
  background-color: #0499d9
}

.btn {
  padding: 10px 15px;
  border-radius: 100px;
  background: #15B6FB;
  border: 0;
  color: #fff;
  cursor: pointer
}

.btn i {
  margin-right: 5px
}

.btn:hover {
  background-color: #0499d9
}

.btn.btn-white {
  color: #1A1A26;
  background: #fff
}

.btn.btn-white:hover {
  background-color: #e6e6e6
}

.btn.btn-danger {
  color: #fff;
  background: #E83353
}

.btn.btn-danger:hover {
  background-color: #d01838
}

.btn.btn-blue-gradient {
  color: #fff;
  font-weight: 600;
  background: linear-gradient(180deg, #019bdd 0%, #01c0dd 100%)
}

.btn.btn-blue-gradient:hover {
  background: linear-gradient(180deg, #018dc9 0%, #01aec9 100%)
}

.btn.btn-pink {
  color: #fff;
  font-weight: 600;
  background: #EC3063
}

.btn.btn-pink:hover {
  background: #ea1d55
}

.btn.btn-gray-border {
  color: #fff;
  font-weight: 600;
  background: transparent;
  border: 1px solid #90999B
}

.btn.btn-gray-border:hover {
  background: rgba(144, 153, 155, 0.1)
}

.btn.btn-light {
  background: #E3E8E8;
  color: #90999B
}

.btn.btn-light:hover {
  background-color: #d5dddd
}

button.btn {
  padding: 12px 15px
}

.playlist-actions {
  margin-top: 20px
}

.latest {
  margin-top: 20px
}

.album-single {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 30px
}

@media screen and (max-width: 700px) {
  .album-single {
    grid-template-columns: 1fr
  }
}

.album-single .album_cover div {
  position: relative;
  line-height: 0
}

.album-single .album_cover div:before {
  box-shadow: inset 0 0 0 1px rgba(26, 26, 38, 0.1);
  content: "";
  display: block;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 5px
}

.album-single img {
  width: 100%;
  border-radius: 5px
}

.album-single .details span {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.9em;
  color: #9DA2A4
}

.album-single .details h1 {
  line-height: 40px
}

.album-single .details h2 {
  color: #90999B;
  margin-bottom: 0
}

.album-single .details h2 a {
  color: #90999B
}

.album-single .details .released {
  font-size: 0.9em
}

.album-single .details .add {
  margin: 25px 0
}

.album-single .details .add a {
  border-radius: 100px;
  color: #fff;
  padding: 8px 15px;
  margin-right: 5px;
  font-weight: 600;
  font-size: 1.1em;
  background: linear-gradient(180deg, #019bdd 0%, #01c0dd 100%)
}

.album-grid,
.artist-grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px 30px
}

@media screen and (max-width: 1023px) {

  .album-grid,
  .artist-grid {
    grid-template-columns: repeat(4, 1fr)
  }
}

@media screen and (max-width: 768px) {

  .album-grid,
  .artist-grid {
    grid-template-columns: repeat(3, 1fr)
  }
}

@media screen and (max-width: 600px) {

  .album-grid,
  .artist-grid {
    grid-template-columns: repeat(2, 1fr)
  }
}

.album,
.artist {
  font-size: 13px;
  min-width: 0
}

.album .album_cover,
.artist .album_cover {
  position: relative
}

.album .album_cover:before,
.artist .album_cover:before {
  box-shadow: inset 0 0 0 1px rgba(26, 26, 38, 0.1);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 8px
}

.album .album_cover .sources,
.artist .album_cover .sources {
  position: absolute;
  bottom: 6px;
  right: 10px;
  color: #fff
}

.album .album_cover .sources i,
.artist .album_cover .sources i {
  font-size: 1.1em;
  margin-left: 5px;
  text-shadow: 0 0 10px rgba(26, 26, 38, 0.1)
}

.album img,
.artist img {
  display: block;
  max-width: 100%;
  margin: 0 0 10px;
  border-radius: 8px
}

.album .single,
.artist .single {
  float: right;
  background: #90999B;
  color: #fff;
  display: inline-block;
  border-radius: 2px;
  width: 14px;
  height: 14px;
  font-weight: 800;
  text-align: center;
  font-size: 9px;
  line-height: 14px
}

.album .artist-title,
.artist .artist-title {
  font-size: 1.2em
}

.album .artist-image,
.artist .artist-image {
  display: block;
  width: 100%;
  height: 150px;
  max-height: 110px;
  background-size: 100%;
  background-color: #90999B;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 5px
}

.album .user-image,
.artist .user-image {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background-size: 100%;
  background-color: #90999B;
  background-position: center
}

.album a,
.artist a {
  display: block;
  line-height: 17px
}

.album a.album-title,
.album a.artist-title,
.artist a.album-title,
.artist a.artist-title {
  color: #fff
}

.album a.album-title,
.artist a.album-title {
  font-weight: 700;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.album .album-artist,
.artist .album-artist {
  color: #9DA2A4;
  font-size: 12px
}

.album .release-date,
.artist .release-date {
  margin: 0;
  line-height: 17px
}

.past-albums .past-date {
  margin-bottom: 0px
}

.artist-people {
  display: flex
}

@media screen and (max-width: 700px) {
  .artist-people {
    display: block
  }
}

.artist-people .fans {
  flex: 1
}

.video-item h1 {
  line-height: 40px
}

.video-item h1 small {
  font-size: 0.8em;
  color: #90999B
}

.video-item h2 {
  font-size: 20px
}

.video-item .video_wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%
}

.video-item .video_wrapper .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px 30px;
  margin-bottom: 30px
}

.user-info img {
  border-radius: 500px;
  max-width: 100%
}

.user-info .about {
  margin-top: 2%
}

.user-info .about a {
  font-weight: bold;
  color: #15B6FB;
  display: inline-block;
  margin-right: 20px
}

.tracks {
  list-style: none;
  counter-reset: tracks;
  font-size: .9em
}

.tracks li {
  counter-increment: tracks;
  border-bottom: 1px solid #272733
}

.tracks li a {
  display: block;
  padding: 4px 2px
}

.tracks li a:before {
  content: counter(tracks);
  color: white;
  opacity: 0.5;
  position: absolute;
  margin-left: 4px
}

.tracks li a:hover {
  background: #272733
}

.tracks li a:hover:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f144";
  position: absolute;
  color: #EC3063;
  opacity: 1
}

.tracks li.active a {
  background: #272733
}

.tracks li.active a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f28d";
  position: absolute;
  color: #EC3063;
  opacity: 1
}

.tracks li .track_name {
  padding-left: 35px;
  max-width: 75%;
  font-weight: normal;
  color: white;
  line-height: 1.2em;
  display: inline-block
}

.tracks li time {
  float: right;
  margin-right: 4px;
  opacity: 0.5;
  color: white
}

.form-group {
  margin-bottom: 30px
}

.form-group h2 {
  margin: 0
}

.form-group .form-line {
  margin-bottom: 10px
}

.form-group .form-line input[type="text"] {
  padding: 5px 8px;
  border-radius: 2px;
  background: #F9F9F9;
  border: 1px solid #E3E8E8
}

.form-group .btn {
  margin-top: 10px
}

footer {
  margin: 40px 0 0;
  padding: 40px 0
}

footer a {
  color: #EC3063
}